{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Game</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Hometeam</th>
                <td>{{ entity.hometeam }}</td>
            </tr>
            <tr>
                <th>Awayteam</th>
                <td>{{ entity.awayteam }}</td>
            </tr>
            <tr>
                <th>League</th>
                <td>{{ entity.league }}</td>
            </tr>
            <tr>
                <th>Goalsfor</th>
                <td>{{ entity.goalsFor }}</td>
            </tr>
            <tr>
                <th>Goalsagainst</th>
                <td>{{ entity.goalsAgainst }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('game') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('game_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
